.Saved/
_arc/
dest/*
bower_components/
node_modules/
.vscode/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
.publish
ex_files
Thumbs.db
__MACOSX/
cgi-bin/*
errors/logs/*
files/*
images/*
umibackup/*
/config.ini
install.log
/src/css/*
sys-temp/logs/*
sys-temp/sitemap/*
sys-temp/updates/
sys-temp/uploads/
sys-temp/sitemap/*
.cache/*
.local/*
.config/*
/vendor/*