*
	padding: 0
	margin: 0
	box-sizing: border-box
	outline: none

html
	position: relative
	scroll-behavior: smooth
	height: 100%

body
	display: flex
	flex-flow: column
	min-height: 100%

	overflow-x: hidden

	font-family: 'Roboto Condensed', Roboto, sans-serif

	main
		flex-grow: 1

	footer
		margin-top: auto

	section
		margin: 35px 0 25px

.visuallyhidden 
	transition: all 0.5s
	position: absolute

	width: 1px
	height: 1px
	margin: -1px
	border: 0
	padding: 0

	clip: rect(0 0 0 0)
	overflow: hidden

.hidden
	display: none !important

.clearfix::after 
	content: ""
	display: block
	height: 0
	clear: both
	visibility: hidden
	