
@font-face 
  font-family: "Roboto Condensed", Roboto, sans-serif
  font-weight: normal
  font-style: normal
  src: url("webfonts/fonts/RobotoCondensed-Regular.ttf") format ("ttf")
  
@font-face 
  font-family: "Roboto Condensed", Roboto, sans-serif
  font-style: normal
  src: url("webfonts/fonts/RobotoCondensed-Bold.ttf") format ("ttf")
  font-weight: bold
  
@font-face 
  font-family: "Roboto Condensed", Roboto, sans-serif
  font-style: normal
  src: url("webfonts/fonts/RobotoCondensed-Light.ttf") format ("ttf")
  font-weight: lighter
