
@font-face 
  font-family: "Roboto Condensed"
  font-weight: normal
  font-style: normal
  src: url("fonts/RobotoCondensed-Regular.ttf")
  
@font-face 
  font-family: "Roboto Condensed"
  font-style: normal
  src: url("../fonts/RobotoCondensed-Bold.ttf")
  font-weight: bold
  
@font-face 
  font-family: "Roboto Condensed"
  font-style: normal
  src: url("../fonts/RobotoCondensed-Light.ttf")
  font-weight: lighter


@font-face 
  font-family: Roboto
  font-weight: normal
  font-style: normal
  src: url("../fonts/Roboto-Regular.ttf")
  
@font-face 
  font-family: Roboto
  font-style: normal
  src: url("../fonts/Roboto-Bold.ttf")
  font-weight: bold
  
@font-face 
  font-family: Roboto
  font-style: normal
  src: url("../fonts/Roboto-Light.ttf")
  font-weight: lighter
