$main-color:          #3a414f
$main-color-dark:     #2b303a
$second-color:        #0080cb
$second-color-light:  #6A4099
$warning-color:       #FDC05D
$bg-color:            #21252c

$gray-light:          #F2F2F2
$gray-dark:           #231F20

$link-hover:          #616772
$link-active:         #0080cb

$border-color:        #616772
$border-color-light:  #757a84

$text-color:          #2b303a
$text-color-light:    #fff

$font-family:         'Opens Sans', Arial, sans-serif
$font-size:           14px
$line-height:         1.4

$screen-xs:           480px
$screen-sm:           768px
$screen-md:           992px
$screen-lg:           1200px
$screen-xl:           1400px
$screen-xxl:          1600px
