block lightbox
	section.main__page.page__lightbox
		.lightbox__wrapper
			.lightbox__item
				img(src="img/exp/exp-pgr/exp-pgr-1.png" alt="Планирование подземных горных работ 1" ).lightbox__image
			.lightbox__item
				img(src="img/exp/exp-pgr/exp-pgr-2.png" alt="Планирование подземных горных работ 2" ).lightbox__image
			.lightbox__item
				img(src="img/exp/exp-pgr/exp-pgr-3.png" alt="Планирование подземных горных работ 3" ).lightbox__image
			.lightbox__item
				img(src="img/exp/exp-pgr/exp-pgr-4.png" alt="Оценка рисков опасных геопроцессов. Построение модели" ).lightbox__image
		.lightbox__modal#lb_modal
			span.lightbox__close &times;
			img.lightbox__content#lb__img01
			.lightbox__caption#lb__caption