block popup
    .main__modal.modal__popup
        .modal__wrapper
            h2.modal__title Great Success!
            .modal__text
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident iusto officiis perspiciatis atque, ipsum id suscipit eligendi impedit autem! Ut.
            button(type='button').modal__close
                span.fas.fa-times
