.hero 
	width: 960px
	height: 400px
	margin: 50px auto
	font-size: $font-size
	background-image: url('../img/bg-hero.jpg')
	background-repeat: no-repeat
	background-size: contain
	&__wrapper
		display: flex
		flex-flow: column
		justify-content: space-between
		align-items: flex-start
		padding: 45px
		height: 100%
		p 
			width: 27%
			font-weight: bold
			line-height: 1.2
	&__title
		width: 100%
		display: flex
		font-size: 24px
	&__icon
		width: 72px
		height: 85px
		background-image: url('../img/ic-logo.svg')
		background-size: 200%
		background-repeat: no-repeat
		background-position: center




