.tiles 
	width: 100%
	display: flex
	flex-flow: column
	align-items: center	
	h2
		font-size: $font-size_title
		margin-bottom: 25px
	&__wrapper
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
	.tile
		position: relative
		display: flex
		flex-flow: column
		justify-content: flex-end
		align-items: center
		width: 213px
		height: 213px
		padding-bottom: 20px
		padding-top: 15px
		background: $gradient-primary
		border-radius: 18px
		&:after 
			content: ''
			position: absolute
			z-index: -1
			top: 0
			left: 10%
			width: 80%
			height: 100%
			box-shadow:  0px 25px 100px #48AE4B
		&__icons
			width: 100%
			padding: 0 25px
			margin-top: auto
			display: flex
			flex-wrap: wrap
			justify-content: space-around
			align-items: center
			&.align-end
				align-items: flex-end
		&__icon
			flex: 0 0 30%
			display: flex
			align-items: flex-end
			justify-content: center


			&--full
				flex-basis: 100%
				max-width: unset
				margin: 5px 0
				align-items: flex-end

		&__text
			display: flex
			flex-basis: 30%
			flex-flow: column
			justify-content: center
			align-items: center
			padding: 5px 0
			color: #fff
			font-size: $font-size
			font-weight: bold

			span
				font-family: Roboto, sans-serif

